fdpractice.txt
../Week1/
../Week2/
../Week3/
../Week4/
../Week6/
../idea/
../Comp2151Lab5-submission_template.docx
.idea/
lab09.zip
../__MACOSX/
../assignment 1 template files/
../comp2152_labs/
..

/first-contributions/